/* Base */
@import "base/reset.css";
@import "base/typography.css";

/* Utilities */
@import "utilities/spacing.css";
@import "utilities/display.css";
@import "utilities/colors.css";
@import "utilities/shadow.css";

/* Components */
@import "components/button.css";
@import "components/card.css";

/* Layout */
@import "layout/grid.css";
@import "layout/header.css";


:root{
  --body-color: #023E8A;
  --header-bg-color: #0077B6;
  --header-gradient-color-1: #2f90f3;
  --header-gradient-color-2: #9fe9f4;
  --header-gradient-color-3: #8fd9d4;
  --text-titel-color: #90E0EF;
  --text-subtitel-color: #48CAE4;
  --specials-bg-color: #0077B6;
  --bg-prymeri: #0096C7;
  --border-prymeri-color: #ADE8F4;
}


html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}


body{
  padding: 0;
  margin: 0;
  font-family: "Georgia", "Times New Roman", Sans-Serif;
  min-height: 100vh;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  background: var(--body-color);
}

.header{
  width: 100%;
  background-color: var(--header-bg-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  position: Sticky;
  top: 0;
  z-index: 999;
}
.header__logo__text{
  padding: 0;
  margin: 0;
  text-align: center;
  background: linear-gradient(0deg, var(--header-gradient-color-1), var(--header-gradient-color-2), var(--header-gradient-color-3));
  -webkit-background-clip: text;
  color: transparent;
}
.header__nav ul{
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px;
}
.header__nav ul li{
  font-size: 0.8rem;
  /* margin-bottom: 10px; */
}

.header__nav ul li a{
  text-decoration: none;
  color: white;
  width: 100%;
  transition: 0.2s ease-in-out;
}


.header__nav ul li a:hover{
  color: gray;
  font-size: 1rem;
}

.header__nav ul li a:focus {
  outline: 2px solid var(--text-titel-color);
  outline-offset: 2px;
}

#home{
  border: 1px solid var(--border-prymeri-color);
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background: var(--bg-prymeri);
}

#home h2{
  color: var(--text-titel-color);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 5px;
}
#home p{
  font-size: 0.75rem;
  margin: 5px auto 20px auto;
  color: var(--text-subtitel-color);
}
#home a{
  color: white;
}

#specials{
  width: calc(100% - 20px);
  margin: 10px;
  box-sizing: border-box;
  background-color: var(--specials-bg-color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-prymeri-color);
}

#specials h2{
  text-align: center;
  color: var(--text-titel-color);
  font-size: 2rem;
  font-weight: bold;
}